.app_dark_theme {
  --bg-color: #45454e;
  --inverted-bg-color: #e9e9e9;

  --primary-color: #042986;
  --secondary-color: #022253;
  --inverted-primary-color: #090969;
  --inverted-secondary-color: #5252f3;
}