.app.light {
  --bg-color: #e9e9e9;
  --inverted-bg-color: #52525a;

  --primary-color: #090969;
  --secondary-color: #5252f3;
  --inverted-primary-color: #037903;
  --inverted-secondary-color: #06e206;
}